.navList {
  --nav-list-gap: 0.4em;
  --nav-spacing-left: 1em;
  @media (max-width: 600px) {
    --nav-list-gap: 0.6em;
    --nav-spacing-left: 0.6em;
  }
  list-style: none;
  padding-left: var(--nav-spacing-left);
  margin: 0;
  li {
    margin: 0;
    margin-bottom: var(--nav-list-gap);
    a {
      color: var(--fgColor-default);
      padding: 4px 6px;
      text-decoration: none;
      font-weight: normal;
      display: block;
      &.active {
        color: var(--fgColor-default);
        background: var(--bgColor-muted);
        border-radius: 4px;
        text-decoration: none;
      }
    }
  }
  details > summary {
    cursor: pointer;
    font-weight: bold;
    margin: 0.5em 0;
  }
}