<ul>
  {% assign current_url = page.url | remove: '.html' | remove: '.md' | remove: '/index' | remove: 'index' | replace: '//','/' %}
  {% for item in include.items %}
    {% if item.children %}
      {%- assign open = false -%}
      {%- for child in item.children -%}
        {%- assign child_url = child.url | uri_escape | prepend: '/' | remove: '.html' | remove: '.md' | remove: '/index' | remove: 'index' | replace: '//','/' -%}
        {%- if current_url == child_url -%}
          {%- assign open = true -%}
        {%- endif -%}
        {%- if child.children -%}
          {%- for grandchild in child.children -%}
            {%- assign grandchild_url = grandchild.url | uri_escape | prepend: '/' | remove: '.html' | remove: '.md' | remove: '/index' | remove: 'index' | replace: '//','/' -%}
            {%- if current_url == grandchild_url -%}
              {%- assign open = true -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
      <li>
        <details{% if open %} open{% endif %}>
          <summary>{{ item.title }}</summary>
          {% include nav_list.html items=item.children %}
        </details>
      </li>
    {% else %}
      {%- assign item_url = item.url | uri_escape | prepend: '/' | remove: '.html' | remove: '.md' | remove: '/index' | remove: 'index' | replace: '//','/' -%}
      {% if item.title != "index" %}
      <li>
        <a href="{{ item.url | uri_escape | relative_url }}"
           {% if current_url == item_url %}class="active"{% endif %}>
          {{ item.title }}
        </a>
      </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>