{% for folder in include.folders %}
  {% if folder.children %}
    {%- assign first_file = nil -%}
    {%- assign file_count = 0 -%}
    {%- for child in folder.children -%}
      {%- if child.url and child.title != "index" -%}
        {%- assign file_count = file_count | plus: 1 -%}
        {%- if first_file == nil -%}
          {%- assign first_file = child -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if file_count > 0 and first_file -%}
      <a class="card-link" href="{{ first_file.url | uri_escape | relative_url }}">
        <div class="card">
          <div class="card-title">{{ folder.title }}</div>
          <div>{{ first_file.title | escape }}</div>
        </div>
      </a>
    {%- endif -%}
    {% comment %} Recursively call for subfolders {% endcomment %}
    {% include render_cards.html folders=folder.children %}
  {% endif %}
{% endfor %}