html {
  --font-size: 16px;
  @media (max-width: 600px) {
    --font-size: 20px;
  }
}
body {
  font-size: var(--font-size);
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);
}