:root {
  --bgColor-canvas: hsl(55, 17%, 94%);
  --bgColor-default: hsl(60, 17%, 96%);
  --bgColor-muted: hsl(60, 17%, 85%);
  --borderColor-default: #E1E1E6;
  --fgColor-default: hsl(32, 17%, 20%);
  --fgColor-link: hsl(220, 80%, 50%);
}