.Content {
  overflow-y: scroll;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: var(--bgColor-default);
  box-shadow: -2px 0 4px #0001;
  margin: 0;
  width: 100%;
  transition: margin 0.25s cubic-bezier(.4,0,.2,1);
  border-radius: 0;
}
:global(body:not([data-ismobile]) [data-sidebar].open) ~ .Content {
  border-radius: 24px 0 0 24px;
  margin: 16px 0 16px 16px;
  height: calc(100vh - 32px);
}