
.article {
  width: 100%;
  font-size: 1rem;
  .articleHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor-muted);
    padding-bottom: 0.3em;
    margin-bottom: 0.5em;
    h1 {
      font-size: 2em;
      margin: 0;
      padding: 0;
      padding-right: 0.5em;
    }
  }
  h2 {
    font-size: 1.5em;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
  }
  h3 {
    font-size: 1.25em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}