---
import Layout from '../layouts/Layout.astro';
import RenderCards from '../components/RenderCards.astro';
import { buildNavigation } from '../utils/navigation';

const navData = await buildNavigation();
---

<Layout title="Home">
  <h1>Browse by topic</h1>

  <div class="cards">
    <RenderCards folders={navData} />
  </div>
</Layout>
