:root {
  --header-height: 56px;
  --toggle-width: 56px;
}

.header {
  z-index: 900;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 0 1em;
  position: relative;
}

.sidebarToggle {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--toggle-width);
  height: var(--header-height);
  box-sizing: border-box;
  padding: 16px;
  background: none;
  border: none;
  margin-right: 1em;
  cursor: pointer;
  display: flex;
}


:global(body:not([data-ismobile])) .sidebarToggle {
  padding: 24px;
}
:global([data-ismobile] .sidebar-open) .sidebarToggle {
  width: var(--toggle-width);
  position: absolute;
  height: 100vh;
  z-index: 100;
}

.sidebarToggle .menuIcon {
  position: relative;
  width: 24px;
  height: 24px;
}

.sidebarToggle .menuIcon span,
.sidebarToggle .menuIcon span:before,
.sidebarToggle .menuIcon span:after {
  display: block;
  background: var(--fgColor-default);
  height: 3px;
  width: 24px;
  border-radius: 2px;
  position: relative;
  transition: 0.2s all;
}

.sidebarToggle .menuIcon span:before,
.sidebarToggle .menuIcon span:after {
  content: "";
  position: absolute;
  left: 0;
}

.sidebarToggle .menuIcon span:before { top: 18px; }
.sidebarToggle .menuIcon span:after { top: 9px; }

.headerTitle {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--fgColor-default);
  text-decoration: none;
  line-height: 56px;
}

