:root {
  --header-height: 56px;
}

.header {
  z-index: 900;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.menuIcon {
  /* display: none; */
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  margin-right: 1em;
  cursor: pointer;
}

.menuIcon span,
.menuIcon span:before,
.menuIcon span:after {
  display: block;
  background: var(--fgColor-default);
  height: 3px;
  width: 24px;
  border-radius: 2px;
  position: relative;
  transition: 0.2s all;
}

.menuIcon span:before,
.menuIcon span:after {
  content: "";
  position: absolute;
  left: 0;
}

.menuIcon span:before { top: -9px; }
.menuIcon span:after { top: 9px; }

.headerTitle {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--fgColor-default);
  text-decoration: none;
  line-height: 56px;
}

