.content {
  z-index: 100;
}

.article {
  flex: 1;
  padding: 2em;
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .article {
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
  }
  
  .sidebar {
    /* Hidden by default on mobile */
    position: fixed;
    left: 0; 
    top: 56px; 
    bottom: 0;
    transform: translateX(-110%);
  }
  
  .sidebar:global(.open) {
    transform: translateX(0);
  }
  
  .sidebarBackdrop {
    display: none;
    position: fixed;
    z-index: 100;
    background: #0006;
    top: 56px; left: 0; right: 0; bottom: 0;
    animation: fadein 0.2s;
  }
  
  .sidebarBackdrop:global(.active) {
    display: block;
  }
}

@media (min-width: 701px) {
  .sidebar {
    transform: none !important;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
