.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}
:global([data-content]) {
  width: 100%;
  z-index: 100;
}

.article {
  flex: 1;
  padding: 2em;
  padding-top: 56px;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
}
[data-ismobile] {
  .App {
    display: block;
    position: relative;
  }
    :global([data-content]) {
      position: relative;
      transition: transform 0.25s cubic-bezier(.4,0,.2,1);
    }
    :global([data-sidebar]) {
      position: absolute;
      z-index: 50;
    }
    :global(.sidebar-open [data-content]) {
      transform: translateX(calc(100% - var(--mobile-sidebar-open-width)));
    }

  .article {
    padding: 56px 16px 16px 16px;
    width: 100%;
  }
}